<aside class="menu">
  {% assign links = site.data.docs %}
  {% for link in links %}
    <p class="menu-label">
      <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">
        {{ link.title }}
      </a>
    </p>
    {% if link.sublinks %}
      <ul class="menu-list">
        {% for sublink in link.sublinks %}
          {% assign class = nil %}
          {% if page.url == sublink.url %}
              {% assign class = 'is-active' %}
          {% endif %}
          <li>
            <a class="{{ class }}" href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">
              {{ sublink.title }}
            </a>

            {% if sublink.sublinks %}
              <ul>
              {% for subsublink in sublink.sublinks %}
                {% assign class = nil %}
                {% if page.url == subsublink.url %}
                    {% assign class = 'is-active' %}
                {% endif %}
                <li><a class="{{ class }}" href="{{ site.url }}{{ site.baseurl }}{{ subsublink.url }}">
                  {{ subsublink.title }}
                </a></li>
              {% endfor %}
              </ul>
          {% endif %}

          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</aside>
