---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$navbar-background-color: #494a4b;
$navbar-dropdown-background-color: #494a4b;
$navbar-dropdown-item-hover-color: white;
$navbar-dropdown-item-hover-background-color: #292929;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: #292929;
$navbar-dropdown-arrow: white;
$navbar-height: 4.2rem;

$footer-padding: 3rem 4rem 0.5rem;

$menu-item-active-background-color: #e0e0e0;
$menu-item-hover-background-color: #c0c0c0;
$menu-item-active-color: black;

@import "../_sass/bulma-0.8.0/bulma.sass";
@import "minima";
@import "../_sass/github.scss";

.navbar-item, .navbar-link {
  font-weight: bold;
}

.navbar-item.navbar-subitem {
  border-left: 1px solid white;
  /* margin: 0.3rem 0rem; */
  margin-left: 1.5rem;
  /* padding: 0.075rem 1rem; */
}

/*
.navbar-menu {
  background-color: #494a4b;
}
*/
.navbar a, .navbar a:visited {
  color: white;
}

.navbar-dropdown {
  border-top: none;
}

.footer {
  background: #606264;
  color: white;
}

.footer a, .footer a:visited {
  color: white;
}

.footer .column:first-child {
  border-left: none;
}

.footer .column {
  padding: 0 1rem;
  border-left: 1px solid white;
}

.footer-disclaimer {
  padding: 1rem 0;
  border-top: 1px solid white;
  max-width: 40rem;
  font-size: small;
}

@include media-query($on-laptop) {
  .footer .column {
    border: none;
  }

  .footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.menu {
  background: #efefef;
  padding: 1.5rem;
  width: 23rem;
}

.menu a, .menu a:visited {
  color: black;
}

.center {
  margin: auto;
}

.highlight {
  color: #48c774;
}

.num-highlight {
  font-size: 2em;
}

.header-home {
  margin-bottom: 60px !important;
}

pre code {
  color: #333;
}

pre.highlight {
  padding: 1em;
}

.navbar-icon {
  width: 330px;
}

@media (max-width: 400px) {
  .navbar-icon {
    width: 220px;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
}

#sidebar-container {
  width: 23rem;
}

.menu-sidebar-101 {
  position: fixed;
}

.menu-list-101 {
  margin: 0;
}

#sidebar-container.minimal .menu-link-101 {
  background: none;
  color: rgba(0, 0, 0, 0.25);
}

#sidebar-container.minimal .menu-link-101.is-active {
  color: rgba(0, 0, 0, 0.5);
}

#sidebar-container.minimal .menu-sidebar-101 {
  background: none;
}
